/** This file is part of Moodle - http://moodle.org/
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Version details
 *
 * Verify Acreditacion block
 * --------------------------
 * Verify Acreditacion based on the unique codes displayed on issued acreditacions.
 * Full details of the issued Acreditacion is displayed including profile picture.
 * Mostly cosmetic changes to the original codes from Jean-Michel Védrine.
 * Original Autor & Copyright - Jean-Michel Védrine | 2014
 *
 * @copyright           2015 onwards Manieer Chhettri | Marie Curie, UK | <manieer@gmail.com>
 * @author              Augusto Villa | cunix.net
 * @package             block_verify_acreditacion 
 * @license             http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

#block_verify_acreditacion p.notVerified {
    color: #f00;
    font-size: large;
    font-weight: bold;
}

#block_verify_acreditacion p.verified {
    color: #393;
    font-size: large;
    font-weight: bold;
}

p.title {
    color: #000000;
    font-size: large;
    font-weight: 600;
}

#block_verify_acreditacion .left {
    float: left;
    width: 50%;
    margin-top: 10px;
}

#block_verify_acreditacion .right {
    float: right;
    width: 25%;
    margin-top: 10px;
}

#block_verify_acreditacion .margin-left {
    margin-left: 5px;
}

#block_verify_acreditacion .wrapper-box:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 480px) {
    #block_verify_acreditacion .left,
    .right {
        float: none;
        width: auto;
  }
}

.center {
    text-align:center;
}

